@import "reset";
@import "mixin";
@import "color";
@import "font";

main{
    display: flex;
    flex-direction: column;
    gap: 110px;
}

.intro-header{
    width:100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 10px;

    .header_title{
        color: $txt-white;
        font-size: $font-title;
    }

    .heade_localeEng{
        color:$txt-white;
    }
}

.intro_main_cont{
    position: relative;
    height: auto;
    height: 80vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: movein 1s ease forwards;
    @keyframes movein {
        0% {
            transform: translateY(-100px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(to bottom, #000, transparent);
    }
    //遮罩寫在哪一層
    &::before{
        content: "";
        background: url(/img/cover.webp) no-repeat center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
        animation: intro_scale 8s ease infinite alternate;
        
        @keyframes intro_scale {
            0% {
              transform: scale(1.05);
            }
            100% {
              transform: scale(1);
            }
        }
    }

    button{
        background-color: $second-color;
        color: $main-color;
        padding: 8px 16px;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        &:hover{
            background-color: $main-color;
            color: $second-color;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    a{
        color:$txt-white;
        font-size: 12px;
        text-decoration: underline;
        text-underline-offset:3px;
        &:hover{
            text-decoration: none;
        }
    }

    .intro_wrapper{
        text-align: center;
        align-items: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .intro_title{
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            h1,h2{
                animation-delay:.8s;
            }
            p{
                animation-delay:1s;
            }
        }

        .intro_btn_frame{
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-bottom: 60px;

            button,a{
                animation-delay:1.4s;
            }
            .icon_arrow{
                background: url(/img/icon_arrow.svg);
            }
            //箭頭
        }

        .intro_cta{
            display: block;
            margin: 0 auto;
            text-align: center;
            font-size: $font-subtitle;
            padding: 16px;
            border-radius: 12px;
        }

        .intro_ntc{
            font-size: $font-caption;
        }

        .animation-pop-in{
            opacity: 0;
            animation: pop-in 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;

            @keyframes pop-in {
              0% {
                opacity: 0;
                transform: translateY(-50px) scale(0.5);
              }
              100% {
                opacity: 1;
                transform: translateY(0px) scale(1);
              }
            }
        }
    }
}

.accordion-container,.article_score_wrapper, .accordion-container{
    width: 80%;
    margin: auto;
    padding: 36px;
}

.article_apply_wrapper{
    width: 80%;
    margin: auto;
    padding: 36px;
    .article_apply_title{
        margin-bottom: 20px;
        font-size: $font-subtitle;
        text-align: center;
    }

    li::before {
        content: "•";
        color: $txt-gray;
        margin-right: 8px;
    }
}

.article_notice_wrapper{
    width: 80%;
    margin: auto;
    padding: 36px;
    .article_notice_title{
        margin-bottom: 20px;
        font-size: $font-subtitle;
        justify-content: center;
    }


    .ul_notice_padding{
        padding: 0 36px;
    }
    
    .li_notice_padding{
        padding: 16px 0;
        &::before{
            content: "•";
            color: $txt-gray;
            margin-right: 8px;
            //•為什摸這麼大顆= =?
        }
    }
}

.cover{
    width: 80%;
    margin: auto;
    padding: 36px;
    font-size: $font-subtitle;
    .article_score_title{
        margin-bottom: 20px;
    }
    //toggle展開方向統一向下？
    .qa_title_clicksarea{
        padding: 16px;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 8px;
        font-size: $font-subtitle;
        background-color: $bg-white;
    }
}



.intro-para-cont{
    @include flex-row-space;
    gap: 5%;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    
    .intro-para-item{
        flex: 1;
        text-align: center;
    }

    .intro_para_title{
        font-size: $font-title;
        margin: 24px 0;
    }
    
    .icon_ratio{
        width: 40px;
        height: 40px;
        text-align: center;
    }

    .intro_icon{
        display: flex;
        background: #F1F8FF;
        width: 70px;
        height: 70px;
        padding: 15px;
        margin: 0 auto;
        border: 1px solid #98B3FF;
        border-radius: 12px;
        justify-content: center;
        align-items: center;
    }

}

.accordion-title{
    padding: 20px;
    background-color: $txt-white;
}

.accordion-item{
    padding: 16px;
    background-color: $txt-white;
}

.bg_shadow{
    background-color: $bg-white;
    box-shadow: 5px 5px 20px rgba(13, 64, 195, 0.1);
}
.bg-color-lightblud{
    background-color: $second-color;
}

.bg-color-white{
    background-color: $bg-white;
}

.accordion-container{
    width: 80%;
    margin: auto;
}

.article_score_spacing{
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.section_spacing{
    display: flex;
    flex-direction: column;
    gap: 110px;
}

.footer_homepage_top{
    @include flex-row-between-wrap;
    button{
        color: $footer-btn-color;
        padding: 8px 16px;
        font-size: $font-body;
    }
}

.footer_copyright_bottom{
    @include flex-row-between-wrap;
    font-size: $font-caption;
    button{
        color: $footer-btn-color;
        padding: 8px 16px;
    }
}


