@import "reset";
@import "mixin";
@import "color";
@import "font";

.intro-main-cont{
    background: url(/img/cover.webp) no-repeat;
    height: 80vh;
    background-size: cover;
    button{
        background-color: $second-color;
        color: $main-color;
        padding: 8px 16px;
        border-radius: 4px;
        &:hover{
            background-color: $main-color;
            color: $second-color;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    a{
        color:white;
        font-size: 12px;
        &:hover{
            text-decoration: none;
        }
    }
}

.intro-wrapper{
    text-align: center;
    align-items: center;
}

.txt-yellow{
    color:$txt-yellow;
}

.txt-orange{
    color:$txt-orange;
}

.txt-white{
    color:$txt-white;
}

.txt-gray{
    color:$txt-gray;
}

.font_large{
    font-size: $font-display-large
}

.font_medium{
    font-size: $font-display-medium;
}

.intro-btn{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.txt-bold{
    font-weight:$font-weight-bold;
}

.accordion-container,.article_score_wrapper, .article_apply_wrapper, .accordion-container, .article_notice_wrapper{
    width: 80%;
    margin: auto;
    padding: 36px;
}

.li_notice_padding{
    padding: 16px 0;
}

.ul_notice_padding{
    padding: 0 36px;
}

.article_score_title, .article_apply_title{
    text-align: center;
}


.intropage-header{
    display: flex;
    justify-content: space-between;
}
.intro-para-cont{
    @include flex-row-space;
    gap: 5%;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    
    .intro-para-item{
        flex: 1;
    }
    
    .icon_ratio{
        width: 40px;
        height: 40px;
        text-align: center;
    }

    .intro_icon{
        display: flex;
        background: #F1F8FF;
        width: 40px;
        height: 40px;
        padding: 15px;
        margin: 0 auto;
        border: 1px solid #98B3FF;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
    }

}

.accordion-title{
    padding: 20px;
    background-color: $txt-white;
}
.accordion-item{
    padding: 16px;
    background-color: $txt-white;
}

.bg_shadow{
    background-color: white;
    box-shadow: 5px 5px 20px rgba(13, 64, 195, 0.1);
}
.bg-color-lightblud{
    background-color: $second-color;
}

.bg-color-white{
    background-color: white;
}

.accordion-container{
    width: 80%;
    margin: auto;
}

.article_score_spacing{
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.section_spacing{
    display: flex;
    flex-direction: column;
    gap: 110px;
}
.accordion-item{
    
}

.footer_homepage_top{
    @include flex-row-between-wrap;
    button{
        color: $footer-btn-color;
        padding: 8px 16px;
        font-size: $font-body;
    }
}

.footer_copyright_bottom{
    @include flex-row-between-wrap;
    font-size: $font-caption;
    button{
        color: $footer-btn-color;
        padding: 8px 16px;
    }
}


