.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txt-yellow{
    color:#FFC452;
}

.txt-orange{
    color: #E75C00;
    font-weight: bold;
}

.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    align-items: flex-start;
    width: 80%;
    margin: auto;
}

.item{
    flex: 1;
    width: 33.33%;    
    text-align: center;
}

.txt-left{
    text-align: left;
}

.accordion-container{
    width: 80%;
    margin: auto;
}

.accordion-item{
    
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}